
@import url('https://fonts.google.com/specimen/Cabin');


body {
font-family: 'Cabin';
}


.background {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  /*height: 100vh;*/
  background-size: cover;
  overflow: hidden;
  text-align: middle;
  color: white;
}

section {
 width: 100%;
 display: table;
 margin: 0;
 max-width: none;

 height: 100vh;
}


.view1 {

  width: 100vw;
  display: table-cell;
  vertical-align: top;
  padding-top: 4%;
  background-image: url('https://images.pexels.com/photos/59519/pexels-photo-59519.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}



.view2 {

  display: table-cell;
  vertical-align: middle;
    background-image: url('http://wallpapercave.com/wp/c8MSprE.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}



.view3 {
  display: table-cell;
  vertical-align: middle;
  background-image: url('http://i.imgur.com/4rQJMS4.gif');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.logoBox {
  padding: 33%;
  height: 50px;
  width: 50px;
}

.logo {
  position:  inherit;
  font-size: 3em;
  padding: 5%;

}


.about {

  font-size: 1.4em;
  line-height: 200%;
  /*padding: 10%;*/
  font-family: 'Cabin';
}



.login {
  padding-right: 3%;
  float: right;
  margin-top: 0;
    float: top;
}

input {
  margin-top: 1%;
  float: right;
  margin-right: 6px;
  opacity: .6;
  padding: 1%;
}


.loginButton {

  float: inherit;
  margin-bottom: 1%;
}



.joinButton {
   font-size: 1.5em;
}
