@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


body {
font-family: 'Josefin';
}


.background {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  /*height: 100vh;*/
  background-size: cover;
  overflow: hidden;
  text-align: middle;
  color: white;
}

section {
 width: 100%;
 display: table;
 margin: 0;
 max-width: none;

 height: 100vh;
}


.view1 {

  width: 100vw;
  display: table-cell;
  vertical-align: top;

  padding-top: 1%;
  background-image: url('https://images.pexels.com/photos/59519/pexels-photo-59519.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;

}



.view2 {

  width: 100vw;
  text-align: right;
  display: table-cell;
  vertical-align: top;
  background-image: url('http://wallpapercave.com/wp/c8MSprE.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 38% !important;
  text-emphasis-position: right;


}



.view3 {
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  background-image: url('http://i.imgur.com/4rQJMS4.gif');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.logoBox {
  padding: 33%;
  height: 50px;
  width: 50px;
}

.logo {
  position:  center !important;
  padding: 5%;
  font-size: 3em !important;
}


.about {

  font-size: 1.4em;
  line-height: 200%;
  /*padding: 10%;*/
  font-family: 'Cabin';
}



.login {
  width: 15%;
  padding-right: 3%;
  float: right;
  margin-top: 0;
    float: top;
}

input {
  color: black;
  float: right;
  margin-right: 6px;
  opacity: .9;

}


.loginButton {
  float: inherit;
  margin-bottom: 1%;
  background-color: #c8bdbd !important;
  color: black;
}



.joinButton {
  float: inherit;
  margin-bottom: 1%;
  background-color: #c8bdbd!important;
  color: black

}

h1 {
  font-size: 6.2rem !important;
}

.nextButton {
  background-image:url('https://cdn4.iconfinder.com/data/icons/essential-app-2/16/down-menu-arrow-botton-64.png') !important;
  position:absolute;
 z-index:100;
 left:50%;
 top:100em;
 width:9em;
 height:9em;
 border-radius:50%;
 font-size:0.5em;
 display:block;
 -webkit-animation-delay: 3s;
}
