/*doesnt link to site*/

.allPackagesDiv {
height: 100vh !important;
overflow: visible;

}



.eachPackageDiv {
  display: ;
  float: right;
  width: 30vw;
  height: 45vh;

  /*border: 2px solid black;*/
  background-color: black;
  border-radius: 5%;
  /*border: 2px solid black;*/
  opacity: .9;


}

.cityCountry {
  font-size: 1.6em;


}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  padding: 1.5%;

  text-align: center;
}



.price {
  color: #527CA6;
  padding-bottom: 5%;
}

img {
  height: 32vh;
  min-width: 19vw;
  max-width: 19vw;
  /*object-fit: contain;*/
  object-fit: fill;
  float: left;
  padding-bottom: 2%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  /*border-right: 1px solid white;*/
}
