/*doesnt link to site*/

/*.allPackagesDiv {
height: 100vh !important;
overflow: visible;

}



.eachPackageDiv {
  display: ;
  float: right;
  width: 30vw;
  height: 45vh;


  background-color: black;
  border-radius: 5%;

  opacity: .9;


}

.cityCountry {
  font-size: 1.6em;


}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  padding: 1.5%;

  text-align: center;
}



.price {
  color: #527CA6;
  padding-bottom: 5%;
}*/

/*img {
  height: 32vh;
  min-width: 19vw;
  max-width: 19vw;

  object-fit: fill;
  float: left;
  padding-bottom: 2%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;

}*/
.eachPackageDiv-container {
  padding-right: 15px;
  margin-top: 1%;


}
.eachPackageDiv ul {
  list-style: none;
  padding: 0;

}
.eachPackageDiv {
  display: flex ;
  margin-bottom: 4%;
  /*float: right;
  width: 30vw;*/
  height: 53vh;
  min-height: 350px;
  max-height: 500px;
  background-color: white;
  opacity: .9;
  border: 1px solid black;
  list-style: none;
  margin-right: 0;


}

img {
  height: 32vh;
  max-height: 350px;
  width: 100%;
  object-fit: fill;
  padding-bottom: 2%;


}
<<<<<<< HEAD

.topBackground {
  height:430px;
  width: 100%;
  background-position: fixed;
  background-image: url('http://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438756vUG.jpg');
}

#wrapper {
  width: 750px;
  margin: auto 0;
  margin-left: 1%;
}

#wrapper p {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: "Arial Black", sans-serif;
  text-shadow: 2px 2px #555;
  margin:0;

}

#slideshow {
  border: 1px solid #fff;
  background: url(http://lab.mthibault.ca/external/img/roto01.jpg) no-repeat; /* this default image will show where browsers unable to process the [animation] function */
  background-size: cover;
  background-position: center;

  width: 73vw;
  height: 312px;
  /* animation */
  -webkit-animation: slider 40s infinite ease-in-out;
  -webkit-animation-direction: alternate;
  animation: slider 40s infinite ease-in-out;
  animation-direction:  normal;
}

@-webkit-keyframes slider {
  /*0% {
    background: url(http://lab.mthibault.ca/external/img/roto01.jpg);
  }
  25% {
    background: url(http://lab.mthibault.ca/external/img/roto02.jpg);
  }
  50% {
    background: url(http://lab.mthibault.ca/external/img/roto03.jpg);
  }
  100% {
    background: url(http://lab.mthibault.ca/external/img/roto04.jpg);
  }*/
}

@keyframes slider {
  0% {
    background: url(http://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438756vUG.jpg);
  }
  15% {
    background: url(http://www.loltour.com.ua/images/sampledata/icetheme/gallery/7.jpg);
  }
  30% {
    background: url(https://c1.staticflickr.com/9/8050/8121412716_3963466d11_b.jpg);
  }
  45% {
    background: url(http://www.twitrcovers.com/wp-content/uploads/2013/10/Rome-Colosseum-Historic-l.jpg);
  }
  60% {
    background: url(http://images4.fanpop.com/image/photos/20100000/-beautiful-Japan-beautiful-places-20150792-1600-1200.jpg);
  }
  75% {
    background: url(http://68.media.tumblr.com/tumblr_md1821D2vA1rdvzeho1_1280.jpg);
  }
  100% {
    background: url(http://allswalls.com/images/ireland-background-wallpaper-2.jpg);
  }
}



@media screen and (max-width: 768px) {
  #wrapper {
    width: 90%;
	margin:1em auto;
  }

  #wrapper p {
 font-size: 1.25em;
 letter-spacing:0.15em;
 text-shadow: 2px 1px #000;
 overflow:hidden;
 }

  #slideshow {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
  #slideshow img {
    max-width: 100%;
    margin: 0 auto;
  }
  .logo {text-align:center;}
}
=======
>>>>>>> c36efec9e4de38f14b48fa421164f175d5c93a43
