/*doesnt link to site*/

/*.allPackagesDiv {
height: 100vh !important;
overflow: visible;

}



.eachPackageDiv {
  display: ;
  float: right;
  width: 30vw;
  height: 45vh;


  background-color: black;
  border-radius: 5%;

  opacity: .9;


}

.cityCountry {
  font-size: 1.6em;


}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  padding: 1.5%;

  text-align: center;
}



.price {
  color: #527CA6;
  padding-bottom: 5%;
}*/

/*img {
  height: 32vh;
  min-width: 19vw;
  max-width: 19vw;

  object-fit: fill;
  float: left;
  padding-bottom: 2%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;

}*/
.eachPackageDiv-container {
  padding-right: 0;
  margin-top: 1%;


}
.eachPackageDiv ul {
  list-style: none;
  padding: 0;

}
.eachPackageDiv {
  display: flex ;
  margin-bottom: 4%;
  /*float: right;
  width: 30vw;*/
  height: 53vh;
  min-height: 350px;
  max-height: 500px;
  background-color: white;
  opacity: .9;
  border: 1px solid black;
  list-style: none;
  margin-right: 0;
  

}

img {
  height: 32vh;
  max-height: 350px;
  width: 100%;
  object-fit: fill;
  padding-bottom: 2%;


}
