/*doesnt link to site*/

.allPackagesDiv {
height: 100vh;


}



.eachPackageDiv {
  display: ;
  float: right;
  margin: 1.5%;
  width: 25vw;
  height: 43vh;

  /*border: 2px solid black;*/
  background-color: black;
  opacity: .9;


}
ul {
  list-style-type: none;
  text-align: center;
}

li {
  padding: 1.7%;
  padding-right: 15%;

  text-align: center;
}

.price {
  color: #527CA6;
}

img {
  height: 30vh;
  min-width: 20vw;
  max-width: 20vw;
  /*object-fit: contain;*/
  object-fit: fill;
  float: left;
  padding-bottom: 2%;
  /*border-right: 3px solid black;*/
}
