.background {
  background-image: url('');
}

.signout_btn {
  margin-top: 50px;
}

.navFix{
position: fixed;

}

@media screen and (max-width: 992px) and (min-width: 320px) {
    .navFix {
      position: static;
    }
    }


.card {
  height: 20%;
}

.fontStyle {
  color: #3a6487 !important;

}
