.background-video{
height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
position: fixed;


}


.borderDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 35% 0% 35%;
  margin: 0;
  height: 98vh;
  width: 30%;
  /*background-image: url("http://i.imgur.com/5OsqTua.gif");*/
  background-image: url('https://1.bp.blogspot.com/-LktjKNzno4A/WJSWaAH1RHI/AAAAAAAARLI/7du9Wv17XfQERsyBGzr6q4nA4kylhZ8GwCLcB/s1600/viaggiatori-zaino.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

}

.input {

  background-color: black;
  margin: 0;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  size: 2em;
  font-size: 2em;
  border: 2px solid black;
  border-radius: 4%;
  color: black;
  opacity: .30;

  background-repeat: no-repeat;
  overflow: hidden;

}

.inputStyle {
  margin-bottom: 10%;
  padding: 10px;
  font-size: .6em;
  opacity: .9;
  color: black;
}

.header {
  color: white;
  opacity: 1;
  padding-bottom: 8%;
  /*padding: 5%;*/
}

.email {
  padding-right: 90%;
  color: white;
}

.password {
  padding-right: 90%;
  color: white;
}

.confirm {
  padding-right: 90%;
  color: white;
}

.submitButton {
  color: white;
  font-size:  .6em;
  background-color: #241C32;
  opacity: 1;
  padding-bottom: 1%;

}
